<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zambrano Finca Acceso</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="login-box">
        <h2>Zambrano Finca Acceso</h2>
        <form method="post">
            <div class="user-box">
                <input type="password" name="pin" required>
                <label>PIN</label>
            </div>
            <a href="#" onclick="this.closest('form').submit(); return false;">Submit</a>
        </form>
    </div>
</body>
</html>
